<section class="contact" id="contact"> 
    <h2 class="text-center">Get In Touch</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
                    </div>
                    <br>
                    <button class="btn btn-block" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-md-4">
                <div class="info">
                  <p><span class="fa fa-map-marker"></span>
                    Angeles City, Pampanga, PH</p><br>
  
                    <p><span class="fa fa-phone"></span>
                    +63 936 321 4963</p><br>
  
                    <p><span class="fa fa-envelope"></span>
                    deepfaketech2022@gmail.com</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>