<h1>Reactive Programming Demo</h1>

<div>
    The summation of numbers (<span *ngFor="let num of numbers">{{ num }} </span>) is {{ sum }}
</div>

<div>
    the summation of filtered number ( <span *ngFor="let fNum of filteredNumbers">{{fNum}} </span>) is {{filtered}}
</div>

<div>
    the summation of mapped number ( <span *ngFor="let mNum of mappedNumbers">{{mNum}} </span>) is {{mapped}}
</div>

<div>
    the response from the API is <em>{{apiMessage}}</em>
</div>

<div>
    <a href="#" id="counter">Click Here</a> to increment the counter value: {{counter}}
</div>