<link rel="stylesheet" href="products.component.css">

<h2>Shop</h2>
<section>
    <table>
        <tr id="rowOne">
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{faceShield}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text1">Faceshield</p>
                        <p class="card-text">10 PHP</p>
                        <button type="button" class="btn btn-info" routerLink="../product-detail/:id">Info</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{handbag}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text1">Handbag</p>
                        <p class="card-text">13,000 PHP</p>
                        <button type="button" class="btn btn-info" routerLink="../product-detail/:id">Info</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{joggingPants}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text1">Jogging Pants</p>
                        <p class="card-text">590 PHP</p>
                        <button type="button" class="btn btn-info" routerLink="../product-detail/:id">Info</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="rowTwo">
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{mug}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text1">Mug</p>
                        <p class="card-text">90 PHP</p>
                        <button type="button" class="btn btn-info" routerLink="../product-detail/:id">Info</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{shoes}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text1">Shoes</p>
                        <p class="card-text">3,500 PHP</p>
                        <button type="button" class="btn btn-info" routerLink="../product-detail/:id">Info</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{tshirt}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text1">Tshirt</p>
                        <p class="card-text">600 PHP</p>
                        <button type="button" class="btn btn-info" routerLink="../product-detail/:id">Info</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>


</section>