body{
    width: 100vw;
}


.home-landing
{
    display: flex;
    background-color: rgb(193, 230, 182);
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 3em;
    border-radius: 3%;
}

.left-content{
    padding-top: 3em;
    padding-left: 13em;
    margin-right: -4em;
    padding-bottom: 3em;
    
}

.right-content{
    padding-top: 12em;
    padding-left: 10em;
    margin-left: -1em;
}

#homeText{
    font-size: 5em;
    font-weight: bold;
   
}

#taglineText{
    font-size: 2em;
    font-style: italic
}

