<section class="blog" id="blog">
    <div class="container">
        <h2 class="text-center">Our Blog</h2>
        <div class="row">
            <!-- Article Tiamzon -->
            <div class="co-md-6 col-lg-4">
                <div class="box">
                    <div class="image">
                        <img src={{blog}} alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Understanding ‘Deepfakes’</a></h3>
                        <h4>By Miguel Tiamzon, May 01, 2022</h4>
                        <p>Deepfakes are exploited video content or other virtual representations created by
                            sophisticated
                            artificial intelligence that result in falsified images and sounds that seem to be real.</p>
                        <a routerLink="../article1" class="article-info">More Info</a>
                    </div>
                </div>
            </div>

            <!-- Article Santiago -->
            <div class="co-md-6 col-lg-4">
                <div class="box">
                    <div class="image">
                        <img src={{blog2}} alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Voice cloning a form of deepfake</a></h3>
                        <h4>By Aenon Santiago, April 29, 2022</h4>
                        <p>“Deepfake” is a term that was by a Reddit user that shares the same name. The said
                            Reddit user used the technology to create a space on the online news and aggregation site.
                        </p>
                        <a routerLink="../article2" class="article-info">More Info</a>
                    </div>
                </div>
            </div>

            <!-- Article Garcia -->
            <div class="co-md-6 col-lg-4">
                <div class="box">
                    <div class="image">
                        <img src={{blog3}} alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Detection of Deep Fake Video</a></h3>
                        <h4>By Charles Garcia, May 02, 2022</h4>
                        <p>PRNU analysis to Deep fakes in order to determine the method's accuracy and simplicity of use
                            in identifying Deep fake manipulation. A digital image's PRNU pattern is a noise pattern.
                        </p>
                        <a routerLink="../article3" class="article-info">More Info</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <!-- Article Manalo -->
            <div class="co-md-6 col-lg-4">
                <div class="box">
                    <div class="image">
                        <img src={{blog4}} alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Best Ways to Prevent Deepfakes</a></h3>
                        <h4>By Sam Manalo, April 30, 2022</h4>
                        <p>There are currently no substantial measures in place to protect persons from deepfaking or faked voice 
                            recordings. Increasing the costs of creating and disseminating fraudulent material.
                        </p>
                        <a routerLink="../article4" class="article-info">More Info</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<router-outlet></router-outlet>