h2{
    text-align: center;
   padding-top: 1em;
   font-size: 4em;
   font-weight: bold ;
   background-color: rgb(193, 230, 182);
   padding-bottom: 1em;
}

table, th, tr, td{
    border: 1px solid;
    padding: 1em;
   
}
table{
    margin: 0 auto;
    margin-top: 5em ;
}