<link rel="stylesheet" href="about.component.css">
<h2>About Us</h2>
<section class="about">
    <div class="left-content">
        <img src="{{bazaar}}" alt="bazaar">
    </div>
    <div class="right-content">
        <p id="history">
            Founded on April 12, 2000, MD's Bazaar and Convenience Store has been the country's foremost one-stop shop
            for
            all your daily needs. With items ranging from simple and functional items such as mugs, daily essentials
            such as
            shirts, and even luxurious items such as custom-made handbags, you'll be sure to find the things you're
            looking
            for. With over 1000+ locations all over the country, we're sure that we've got what you need, wherever you
            are.
            Kaya tara na! Need mo? Meron ako!
        </p>

        <p id="schedule">
            Open 7 days a week from 9am-8pm
        </p>


    </div>


</section>