<section class="blog" id="blog">
    <!-- Info 2 -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="image">
                        <img src={{blog2}} alt="">
                    </div>
                    <div class="text">
                        <h3 class="author-name">Voice cloning a form of deepfake</h3>
                        <h4>By Aenon Santiago, April 29, 2022</h4>
                        <p>“Deepfake” is a term that was by a Reddit user that shares the same name. The said Reddit
                            user used the technology to create a space on the online news and aggregation site, where
                            they colleagues exchange, shares pornographic video materials that used a form of an AI
                            technology which is called deep learning, with the help of the said AI you will be able to
                            create an uncanny image or a video that switches the original likeness of a person with
                            another person. The technology kept evolving since then, from photos to videos and now to
                            audios. <br>
                            Deepfake voice, it is also called as synthetic voice or voice cloning, this technology uses
                            the same deep learning AI to generate a clone of a real person’s voice. The said technology
                            frighteningly advanced and come to a point where the generated voice replicated the human
                            voice with a great amount of accuracy in likeness and tone. <br><br>
                            The emergence of a technology like this has many worried about how it can be implemented to
                            manipulate and affect a broad range of things from political discourse. Some warning signs
                            have already surface and it take the form of a phone scam together with fake videos of
                            celebrities on social medias of which they claimed they never did in the first
                            place.<br><br>
                            Along with rise of the deepfake technology are the ways that can be implemented to analyze
                            or detect if a video is genuine. Nina Schick come up with a two-ways of approaching the
                            deepfake problem. The first approach is to build a technology that counters deepfake
                            technology in a way that it will be able to determine if a video has been manipulated, “This
                            is always going to be a game of cat and mouse”, Schick said. “Because as fast as you built
                            the detection model that can counter and determine a deepfake, there will always be a
                            generator that will be able to overcome that detector”. The second approach is to validate
                            real videos known as “media provenance”. To execute this, technology will need to be
                            embedded in hardware and software. Think of this in a way as a digital watermark that is
                            imprinted every time a video is edited/manipulated.
                        </p>

                        <br>
                        <p>Reference:<br> The impact of deepfakes: How do you know when a video is real? (2021, October
                            10). CBS News - Breaking news, 24/7 live streaming news & top stories. Retrieved April 29,
                            2022, from <a
                                href="https://www.cbsnews.com/news/deepfakes-real-fake-videos-60-minutes-2021-10-10/"
                                style="color: #bdbfc0;">
                                https://www.cbsnews.com/news/deepfakes-real-fake-videos-60-minutes-2021-10-10/</a></p>
                        <p>Baker, E. (2022, February 26). Everything you need to know about Deepfake voice. Retrieved
                            April 29, 2022, from <a
                                href="https://www.veritone.com/blog/everything-you-need-to-know-about-deepfake-voice/"
                                style="color: #bdbfc0;">https://www.veritone.com/blog/everything-you-need-to-know-about-deepfake-voice/</a>
                        </p>
                        <p>Deepfakes, explained. (2020, 21). MIT Sloan. Retrieved April 29, 2022, from <a
                                href="https://mitsloan.mit.edu/ideas-made-to-matter/deepfakes-explained"
                                style="color: #bdbfc0;">https://mitsloan.mit.edu/ideas-made-to-matter/deepfakes-explained</a>
                        </p>
                        <br>
                        <a routerLink="../blank" class="article-info">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<router-outlet></router-outlet>