<h1>Angular Pipes</h1>


<h2>Date Pipes</h2>
<div>
    Today's Date: {{presentDate}}
</div>

<div>
    Today's Date: {{presentDate|date}}
</div>

<div>
    This is a short date: {{presentDate|date:'shortDate'}} <br>
    This is a full date: {{presentDate|date:'fullDate'}} <br>
    This will show a formatted date: {{presentDate|date:'M/dd/yyyy'}} <br>
    This indicates the hours and minutes: {{presentDate|date:'M/yyyy h:m'}} <br>
</div>


<h2>Chained Pipes</h2>
<div>
    Date with uppercase: {{presentDate|date:'short'|uppercase}} <br>
    Date with lowercase: {{presentDate|date:'medium'|lowercase}} <br>
</div>

<div>
    <p>observable|async : Time: {{ time | async }}</p>
</div>


<h2>Currency Pipe</h2>
<div>
    {{price|currency:"":true}} <br>
    {{price|currency:'USD'}} <br>
    {{price|currency:'CAD'}} <br>
    {{price|currency:'JPY'}} <br>
    {{price|currency:'INR':'symbol':'1.1'}}
</div>



<h2>Slice Pipe</h2>

<div>
    <h3>Start index: {{Fruits | slice:2}}</h3>
    <h3>Start and end index: {{Fruits | slice:1:4}}</h3>
    <h3>Negative index: {{Fruits | slice:-2}}</h3>
    <h3>Negatuve Start and end index: {{Fruits | slice:-4:-2}}</h3>
</div>


<h2>Decimal Pipe</h2>
<p>{{decimalNum1 | number:'3.1'}}</p>
<p>{{decimalNum1 | number:'1.4-5'}}</p>

<h2>Lowercase Pipe</h2>
<p>{{lcase | lowercase}}</p>