<section class="slider d-flex justify-content-center" id="slider">
    <div class="container text-center">
        <div class="row all-content">
            <div class="col-12">
                <div class="left-content">
                    <div class="animated-headlines">
                        <h1 class="cd-headline clip is-full-width">
                            <span class="cd-words-wrapper">
                                <b>Welcome to DEEP</b>
                            </span>
                        </h1>
                    </div>
                    <p class="paragraph">
                        Learn. Adapt. Protect. <br>
                        We are your Friendly Guide to the World of Deepfakes
                        <br>
                    </p>
                    <a href="#about" class="btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js" class="particels"></div>
</section>