.partners-header{
    display: grid;
}

.partners-header> h1{
    margin: 0 auto;
}

table, th, td {
    border: 2px solid rgb(231, 228, 228);
    border-collapse: collapse;
  }

.partners-table{
    display:grid;
    padding-top: 3em;
    padding-left: 15.4em;
    padding-right: 15.4em;
    margin-bottom: 5em;
}

.table{
    margin: 0 auto;
}