<mat-card>
  <p>
    <mat-toolbar>
      <span>Angular Material Components Demo</span>
    </mat-toolbar>
  </p>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Buttons">
      <app-button></app-button>
    </mat-tab>
    <mat-tab label="Checkbox">
      <app-checkbox></app-checkbox>
    </mat-tab>
    <mat-tab label="Select">
      <app-select></app-select>
    </mat-tab>
    <mat-tab label="Slider">
      <app-slider></app-slider>
    </mat-tab>
    <mat-tab label="Table">
      <app-snackbar></app-snackbar>
    </mat-tab>
  </mat-tab-group>

</mat-card>