<section class="about-me" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img src={{intro}} alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-12 p-0">
                <h2>Deepfakes, You, and Us</h2>
                <p>
                    Have you ever heard the term "Deepfake" before? In recent years, Deepfake has become a hot topic for
                    a lot of people. Despite this, Deepfakes are still a mystery to a lot of people. So what are
                    Deepfakes exactly? Simply put, Deepfakes are media, usually in the form of video clips that are
                    digitally altered to show a different face from the original clip. In layman's term, you could
                    essentially swap your face in to Captain America's in an Avengers movie! Despite this, Deepfake has
                    become infamous because it has been wildly used to create indecent clips that may be sexual or
                    political in nature.
                    <br> <br>
                    How does this affect you? Well, in our world today where we're connected to the internet almost
                    24/7, we have a quite the digital footprint that's out in the open! In theory, pictures and videos
                    that you've posted online in your social media accounts could be used to make defamatory Deepfakes
                    against you. You could also be victim to Deepfake media that could be easily spread out through the
                    social media as well.

                    <br> <br>
                    Thankfully, while the technology is powerful, it's still far from perfect. If looked at closely, you
                    could still distinguish what's real from fake. However, the rapid growth in usage of Deepfakes have
                    given rise to the rapid evolution of the technology. In the future, it might be too close to tell
                    what's real anymore. That's where we come in. We here at Deep are dedicated to bringing you
                    updates and tips on how to spot and handle deep fakes. Here at Deep, we'll help you learn, adapt,
                    and protect yourselves from the dangers of Deepfakes.
                </p>

            </div>
        </div>
    </div>
</section>