h2{
    text-align: center;
   padding-top: 1em;
   font-size: 4em;
   font-weight: bold ;
   background-color: rgb(193, 230, 182);
   padding-bottom: 1em;
}

p{
    text-align: center;
    font-size: 2em;
}

section{
    margin-top: 10em;
}