<body>
    <section class="blog" id="blog1">
        <!-- Info 1 -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="box">
                        <div class="image">
                            <img src={{blog}} alt="">
                        </div>
                        <div class="text">
                            <h3 class="author-name">Understanding ‘Deepfakes’</h3>
                            <h4>By Miguel Tiamzon, May 01, 2022</h4>
                            <p>Deepfakes are exploited video content or other virtual representations created by
                                sophisticated artificial intelligence that result in falsified images and sounds that
                                seem to be real. It is a type of artificial intelligence that combines the terms "deep
                                learning"
                                and "fake." Deep learning is defined as a "subset of AI," and it refers to algorithms
                                that
                                can learn
                                and make intelligent decisions on their own. However, the risk is that "technology can
                                be
                                used to make
                                people believe something is real when it is not," according to Peter Singer, a
                                cybersecurity
                                and
                                defense-focused strategist and senior fellow at the New America think tank.<br><br>

                                By studying photographs and videos of a target person from various angles and then
                                mimicking
                                their behavior
                                and speech patterns, a deep-learning system can create a convincing counterfeit. Through
                                the
                                use of a type of
                                technology called ‘machine learning’, it can create a digital version of someone.
                                Amateur
                                deepfakes can be
                                created with apps or programs, but they can usually be identified by unusual flickering
                                or
                                blurring around
                                someone's face. Deepfake is surely considered as an advancement in our technology today.
                                Although there are
                                benefits to using deepfakes for productive purposes, the negative effects of deepfakes
                                are
                                easy to imagine
                                and frightening to contemplate.

                            </p>
                            <br>
                            <p>Reference:<br> Shao, G. (2019, October 13). What 'deepfakes' are and how they may be
                                dangerous. CNBC. Retrieved May 1, 2022, from <a
                                    href="https://www.cnbc.com/2019/10/14/what-is-deepfake-and-how-it-might-be-dangerous.html"
                                    style="color: #bdbfc0;">https://www.cnbc.com/2019/10/14/what-is-deepfake-and-how-it-might-be-dangerous.html</a>
                            </p>
                            <br>
                            <a routerLink="../blank" class="article-info">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

<router-outlet></router-outlet>